body{
    background-color: black;
}
h1{
    color:rgb(212, 4, 119);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
}
h2{
    color:blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
}
h3{
    color:blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
}
h4{
    color:blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
}
p{
    color:mediumslateblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}
ul{
    color:mediumslateblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left: 800px;
    margin-right: 850px;
}
img{
    border: 12px solid rgb(168, 29, 248);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
table{
    color: mediumslateblue;
    margin-left: auto;
    margin-right: auto;
}

