:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url(hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    box-shadow: 0 -10px 20px black;
}
header nav ul li:hover{
    background-color: var(--primary-color);
    color:var(--secondary-color);
    box-sizing: border-box;
    border-radius: 15px;
    text-shadow: none;
}
header h1:hover{
    background-color: var(--primary-color);
    color:var(--secondary-color);
    box-sizing: border-box;
    border-radius: 15px;
    font-weight: lighter;
}

header nav {
    
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: flex;
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer div {
    line-height: 1.5;
    
}

footer a {
    color: var(--secondary-color);
}

section{
    padding:60px;
}

.hero{
    background-image: url(hero-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;

}
.hero-form{
    background-color: var(--primary-color);
    padding:20px;
    color: var(--secondary-color);
    border-style: solid;
    border-width: 3px;
    border-color: var(--secondary-color);
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    opacity: 80%;
}
.radiowrapper input, .checkboxwrapper input{
    opacity:0;
}
.radiowrapper label, .checkboxwrapper label{
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;

}
.radiowrapper label::before, .checkboxwrapper label::before{
    content:"";
    height: 20px;
    width:20px;
    background: rgba(255,255,255, 0.75);
    border: 1px solid var(--secondary-color);
    position: absolute;
    top: -4px;
    left: -30px;
}
.radiowrapper label::before{
    border-radius: 50%;
}
.radiowrapper label::after{
    content:"";
    height: 20px;
    width:20px;
    border-radius: 50%;
    background: var(--secondary-color);
    position: absolute;
    top: -4px;
    left: -30px;
    background-image: radial-gradient(circle, var(--tertiary-color), var(--secondary-color));
}
.checkboxwrapper label::after{
    content: "";
    height: 6px;
    width: 14px;
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    position: absolute;
    left: -26px;
    top: 1px;
    transform: rotate(-58deg)
}
.checkboxwrapper input:checked + label::after,
 .radiowrapper input:checked + label::after{
    content:none;
}
.hero-form p {
    margin: 5px 0 15px 0;
}
.hero-form h3{
    font-size: 24px;
    margin: 0;
}
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    
}
.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.form-input{
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgba(255,255,255, 0.75);
}
.form-input:focus{
    background-color: rgba(255,255,255, 1);
    outline:none;    
}
.hero-form label{
    margin: 0 5px;
}
.hero-form button{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
}
.hero-form button:hover{
    background-color: var(--tertiary-color);
    cursor: grab;
}

.intro p{
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}
.section-title {
  font-size: 48px;
  color: var(--secondary-color);
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%

}
.primary-border {
  border-color: var(--primary-color);
}
.secondary-border {
  border-color: var(--tertiary-color);
}
.steps {
    background: var(--primary-color);

}
.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--tertiary-color);

}
.step h3{
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 30%;
}
.step:last-child{
    border-bottom: none;
}
.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.step-img {
    flex: 1 12%;
    margin-right: 20px;
    max-width: 200px;
}
.step-text p {
    color:var(--secondary-color);
    font-size: 23px;
    flex: 12;
}
.step-text h4{
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
}
.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.trainer img {
    width: 100%;
    padding: 25px;
}
.trainer{
    
    margin: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    flex: 1;
}
.trainerbio {
    padding: 25px;
    line-height: 1.5;
}
.trainerbio h3{
    font-size: 28px;

}
/*mine didn't look like the mock-up so I learned about line height and font weight*/
.trainerbio h4{
    line-height: 1.5;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
}

.contact {
    background: var(--secondary-color);
    overflow: auto;
}
.contact div{
    display: flex;
    justify-content: space-between;
    flex: 4 1 500px;
    
}
.contact h2{
    text-align: center;
    color: var(--primary-color);
    
}
.contactinfo h3{
    color: var(--primary-color);
    font-size: 32px;   
}
.contactinfo {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    color:white;
    justify-content: space-between;
    align-items: center;

}

.contactinfo > *{
    flex: 1 33%;
    margin: 15px;
    flex-direction: column;
    
    
}
.contactinfo p, .contactinfo address{
    margin: 20px;
    line-height: 1.5;
    font-size: 16px;
    font-style:normal;
    width: 350px;
}
.contactinfo a {
    color:var(--primary-color);
}
.contactinfo iframe{
    min-height: 350px;
}
.contact-form input, .contact-form textarea{
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 15px;
    opacity: 80%
}
.contact-form input:focus, .contact-form textarea:focus{
    opacity: 100%;
}
.contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 15px;
}
.contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
}
.flex-row{
    display:flex;
}


/* MEDIA QUERIES START*/


@media screen and (max-width: 980px) {
    
    header {
    padding-bottom: 0;
    justify-content: center;
    position:relative;
    }
    header h1 {
    width: 100%;
    text-align: center;
    }
    header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    }
    header nav ul li a {
    font-size: 20px;
    }
    footer h2, footer div {
    text-align: center;
    width: 100%;
    }
    .hero-cta, .hero-form {
        width: 100%;
    }
    .hero-cta {
        text-align: center;
    }
    .section-title {
        width:80%;
    }
    .trainer{
        flex: 0 70%;
    }
    .contactinfo iframe {
        flex: 1 100%;
    }
}
@media screen and (max-width: 768px){
    section{
        padding: 30px 15px;
    }
    .step h3{
        flex: 1 100%;
        text-align: center;
    }
    .step-info{
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin: 15px
    }
    .step-text {
        flex: 100%;
    }
}
@media screen and (max-width: 575px){
    .hero-form button{
        width: 100%;

    }
    .section-title{
        width: 95%;
    }
    .intro p {
        width: 100%;
    }
    .trainer {
        flex: 0 100%;
    }
    .contactinfo {
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
       /*I placed this additional mediaquery here because the smaller 
    sized screens would have to scroll sideways to see the address element*/
    .contactinfos{
        position:relative;
        left:5.625rem;

    }
    .contactinfo p{
        position:relative;
        top:9.375rem;
        left: -12.5rem;
    }
    .contactinfo address{
        position:relative;
        top:250px;
        right: 600px
    }
    .contactinfo >* {
        flex: 0 100%;
        
    }
    .contact-form iframe{
        order:3;
    }
}